<ion-view view-title="Info">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="https://pbs.twimg.com/profile_images/754389188783595520/t8q46N97.jpg">
        <h2><a href="https://twitter.com/ann0nip" target="_blank">@ann0nIp</a></p></h2>
        <p>Información general :)</p>
      </div>

      <div class="item item-body">
        <p>Esta aplicacion fue desarrollada como un hobbie, espero pueda ser útil para el cada uno de Uds.</p>
        <p>La App pretende ser un canal de comunicación, acercarle a todos Uds, la información necesaria, para que puedan efectuar un adecuado y simple control del Telekino.</p>
        <p>Quiero que participes con tu opinión y que me hagas llegar nuevas ideas o información que pueda agregar a la App para que lo vayamos perfeccionando día a día y podamos mejorar la calidad de este servicio.</p>
        <p>Muchas gracias por dedicar parte de tu tiempo para leer esta info.</p>
        <p>Si te gustó la App ayudanos con 5 estrellitas en la <a href="https://play.google.com/store/apps/details?id=com.annonip.kinoApp.v2#details-reviews" target="_blank">Play Store</a></p>
        <p>Saludos, <a href="https://twitter.com/ann0nip" target="_blank">@ann0nIp</a></p>
      </div>
    </div>
  </ion-content>
</ion-view>
