<ion-view view-title="Quiniela Poceada Chaqueña (NO oficial)">
  <ion-content class="padding">
  
  <form name="poseadaForm" novalidate="" ng-submit="poseadaForm.$valid">
    <div class="list">
      <div class="padding">
        <label 
          class="item item-input item-select item-stacked-label" 
          for="selectDate">
          <span class="input-label">Fecha del sorteo.</span>
          <select 
            id="selectDate" 
            name="selectDate"
            required 
            ng-model="selectDate">
              <option 
                ng-repeat="date in dates" 
                value="sorteo/{{date.sorteoNro}}/fecha/{{date.sorteoFechaFormatted}}">
                {{date.sorteoNro}} - {{date.sorteoFecha}}
              </option>
            </select>
        </label>
      </div>
      <div class="padding">
        <div class="add-game">
          <label>¿Tienes mas de 1 jugada? <span class="ion-arrow-right-a"></span></label>
          <button ng-click="addGame()" class="button button-balanced icon ion-ios-plus-outline"></button>
        </div>
        <label 
          ng-repeat="i in getNumber(games) track by $index"
          class="item item-input item-stacked-label" 
          for="inputPoceadaNumbers">
          <span class="input-label">Tus Numeros: </span>
          <br>
          <small class="text-primary">(separados por espacios)</small>
          <input 
            required
            type="number" 
            placeholder="Ej: 00 01 02 03 04 05"
            class="inputPoceadaNumbers" 
            name="inputPoceadaNumbers" 
            ng-model="inputPoceadaNumbers[$index]">
        </label>
      </div>
      <input type="submit" value="CONTROLAR" class="button button-block button-balanced activated"
        ng-disabled="!poseadaForm.$valid" 
        ui-if="!modalInfo" ui-turn-on="modalInfo"
        ng-click="getResult(selectDate)">
      </input>
    </div>
  </form>
  </ion-content>
  <script id="modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Los resultados son!</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list" ng-if="!somethingWrong">

          <div class="card">
            <div class="item item-divider">
              Telekino:
            </div>
            <div class="item item-text-wrap" ng-if="!ganadorKino">
              No llegaste ni a los 11 aciertos <i class="fa fa-frown-o"></i> será la próxima 
              <i class="fa-hand-o-right"></i>
            </div>
            <div class="item item-text-wrap" ng-if="ganadorKino">
              Sii! Hiciste {{aciertosKino}} aciertos en el telekino! 🎉🍻 , ve a cobrar tus ${{monto}} a la agencia 🤑
            </div>
          </div>

          <div class="card">
            <div class="item item-divider">
              Rekino:
            </div>
            <div class="item item-text-wrap" ng-if="!ganadorReKino">
              No ganaste el Rekino <i class="fa fa-frown-o"></i> será la próxima 
              <i class="fa-hand-o-right"></i>
            </div>
            <div class="item item-text-wrap" ng-if="ganadorReKino">
              Sii! Sacaste el Rekino! 🎉🍻 , ve a cobrarlo a la agencia 🤑
            </div>
          </div>

          <div class="card">
            <div class="item item-divider">
              Premio Extra:
            </div>
            <div class="item item-text-wrap" ng-if="!ganarExtra">
              No ganaste el premio extra <i class="fa fa-frown-o"></i> será la próxima 
              <i class="fa-hand-o-right"></i>
            </div>
            <div class="item item-text-wrap" ng-if="ganarExtra">
              Sii! Ganaste el premio Extra!! 🎉🍻 , ve a cobrarlo a la agencia 🤑
            </div>
          </div>
          <div><span>Nota: Recuerda que los premios vencen el: {{caducidad}}</span></div>
        </div>
        <div class="list" ng-if="somethingWrong">
          <p class="bg-danger">Algo ingresaste mal, por favor verifica los numeros.</p>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
