@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa.fa-question-circle:before {
	font-family: "fontawesome";
	content: "\f059";
}

.fa.fa-question-circle {
	padding: 4px 0 0 0px;
	vertical-align: middle;
}

.bar.bar-stable .title {
    color: #1F86C4;
}

.list .item-input {
    padding-right: 16px;
}

.list .item-input .input-label {
	color: #2E4E9E;
	width: auto;
}
.list .exampleAlg {
    border-radius: 10px;
    display: block;
    width: 100%;
}

.fa.fa-frown-o:before {
    font-family: "fontawesome";
    content: "\f119";
}
.fa-hand-o-right:before {
   font-family: "fontawesome";
   content: "\f0a4"; 
}

.add-game {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}